<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--设置监听端口号-->
  <add key="port" value="51888"/>
  <!--服务器ip地址-->
  <add key="ipAddress" value="172.16.20.229"/>
  <!--作为连接到公积金服务端的端口-->
  <add key="portToGjj" value="51999"/>
  <!--获取GJJ发送的文件的目录-->
  <add key="gjjFilePath_01" value="D:\gjj_file\Exp_01_dir\"/>
  <add key="gjjFilePath_02" value="D:\gjj_file\Exp_02_dir\"/>
  <add key="gjjFilePath_03" value="D:\gjj_file\Exp_03_dir\"/>
  <add key="gjjFilePath_04" value="D:\gjj_file\Exp_04_dir\"/>
  <add key="gjjFilePath_05" value="D:\gjj_file\Exp_05_dir\"/>
  <add key="gjjFilePath_11" value="D:\gjj_file\Exp_11_dir\"/>
  <add key="gjjFilePath_19" value="D:\gjj_file\Exp_19_dir\"/>
  <add key="gjjFilePath_31" value="D:\gjj_file\Exp_31_dir\"/>
  <add key="gjjFilePath_32" value="D:\gjj_file\Exp_32_dir\"/>
  <!--DB2连接字符串-->
  <add key="DB2Connection" value="Server=172.16.0.42;Database=QDGJJ;UID=scott;PWD=tiger"/>

  <!--业务类-->
  <!--网厅业务-->
  <add key="3007" value="Business.WTZQ_RealTimeTrade"/>
  <add key="3008" value="Business.WTJC_ImmediateWithdraw"/>
  <add key="3018" value="Business.WTJC_E_bankTransferDeposite"/>
  <add key="3009" value="Business.WTDK_SettlementReconciliation"/>
  <!--小额支付代扣-->
  <add key="2000" value="Business.MicroPaymentWithholding"/>
  <!--支取业务：收账户检验-->
  <add key="2002" value="Business.ZQ_RecvAccountCheck"/>
  <!--支取支付-本行实时-->
  <add key="2003" value="Business.ZQ_BankselfRealTimePayment"/>
  <!--支取支付-跨行实时-->
  <add key="2013" value="Business.ZQ_Inter_BankRealTimePayment"/>
  <!--定时批量支付-->
  <add key="2010" value="Business.ZQ_TimingAndBatchPayment"/>
  <!--贷款批量收回发起-->
  <add key="2006"  value="Business.DK_LaunchBatchWithdraw" />
  <!--贷款单笔扣款-->
  <add key="2008" value="Business.DK_LoanSingleWithHold"/>
  <!--商业贷款划付签约、撤销签约、查询,根据标志位区分三者-->
  <add key="4000" value="Business.BusinessLoanAllBusiness"/>
  <!--银行记账日终对账-->
  <add key="3000"  value="Business.BankCountCheckByDay"/>
  <!--贷款对账信息分发-->
  <add key="3001" value="Business.LoanCheckingInfoDistribution"/>
  <!--卡余额查询-->
  <add key="5000" value="Business.CardBalanceQuery"/>

  <!--贷款明细发送-->
  <add key="LoanDetail" value="Business.BusinessLoanDetailSending"/>
  <!--CA认证-->
  <add key="CA" value="Business.CAAuthentication"/>


  <!--****************************************************-->
  <!--数据库操作类-->
  <add key="db2Operation" value="DataAccess.DB2Operation"/>



</appSettings>