<?xml version="1.0"?>
<configuration>
  <!--log4net日志-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <!--设置监听端口号-->
    <add key="port" value="51888"/>
    <!--服务器ip地址-->
    <add key="ipAddress" value="183.129.195.92"/>
    <!--作为连接到公积金服务端的端口-->
    <add key="portToGjj" value="51999"/>
    <!--获取GJJ发送的文件的目录-->
    <add key="gjjFilePath_01" value="C:\xsgjj\accountant\"/>
    <add key="gjjFilePath_02" value="C:\xsgjj\accountant\"/>
    <add key="gjjFilePath_03" value="C:\xsgjj\accountant\"/>
    <add key="gjjFilePath_04" value="C:\xsgjj\accountant\"/>
    <add key="gjjFilePath_05" value="C:\xsgjj\accountant\"/>
    <add key="gjjFilePath_11" value="C:\xsgjj\accountant\"/>
    <add key="gjjFilePath_19" value="C:\xsgjj\accountant\"/>
    <add key="gjjFilePath_31" value="C:\xsgjj\accountant\"/>
    <add key="gjjFilePath_32" value="C:\xsgjj\accountant\"/>
    <!--DB2连接字符串-->
    <add key="DB2Connection" value="Server=127.0.0.1;Database=xsgjj;UID=scott;PWD=tiger"/>

    <!--业务类-->
    <!--网厅业务-->
    <add key="3007" value="Business.WTZQ_RealTimeTrade"/>
    <add key="3008" value="Business.WTJC_ImmediateWithdraw"/>
    <add key="3018" value="Business.WTJC_E_bankTransferDeposite"/>
    <add key="3009" value="Business.WTDK_SettlementReconciliation"/>
    <!--小额支付代扣-->
    <add key="2000" value="Business.MicroPaymentWithholding"/>
    <!--支取业务：收账户检验-->
    <add key="2002" value="Business.ZQ_RecvAccountCheck"/>
    <!--支取支付-本行实时-->
    <add key="2003" value="Business.ZQ_BankselfRealTimePayment"/>
    <!--支取支付-跨行实时-->
    <add key="2013" value="Business.ZQ_Inter_BankRealTimePayment"/>
    <!--定时批量支付-->
    <add key="2010" value="Business.ZQ_TimingAndBatchPayment"/>
    <!--贷款批量收回发起-->
    <add key="2006" value="Business.DK_LaunchBatchWithdraw"/>
    <!--贷款单笔扣款-->
    <add key="2008" value="Business.DK_LoanSingleWithHold"/>
    <!--商业贷款划付签约、撤销签约、查询,根据标志位区分三者-->
    <add key="4000" value="Business.BusinessLoanAllBusiness"/>
    <!--银行记账日终对账-->
    <add key="3000" value="Business.BankCountCheckByDay"/>
    <!--贷款对账信息分发-->
    <add key="3001" value="Business.LoanCheckingInfoDistribution"/>
    <!--卡余额查询-->
    <add key="5000" value="Business.CardBalanceQuery"/>

    <!--贷款明细发送-->
    <add key="LoanDetail" value="Business.BusinessLoanDetailSending"/>
    <!--CA认证-->
    <add key="CA" value="Business.CAAuthentication"/>


    <!--****************************************************-->
    <!--数据库操作类-->
    <add key="db2Operation" value="DataAccess.DB2Operation"/>



  </appSettings>

  <!--log4net配置设定-->
  <log4net degug="false">
    <!--RollingFileAppender将日志以回滚文件的形式写到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\logBank.txt"/>
      <!--输出日志文件的路径-->
      <appendToFile value="true"/>
      <!--输出日志时自动向后追加-->
      <rollingStyle value="Composite"/>
      <datePattern value=".yyyyMMdd"/>
      <!--输出日期格式-->
      <maxSizeRollBackups value="10"/>
      <!--日志最大个数-->
      <maximumFileSize value="1MB"/>
      <!--单个日志的最大容量-->
      <staticLogFileName value="true"/>
      <!--true表示当前最新日志文件名永远为file节中-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger -%m%n"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>



  <startup>

    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
